## latex/bibtex
*.aux
*.log
*.bbl
*.blg
*.out
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.nav
*.snm
*.toc

## datasets
cifar-10-batches-py

## archive
*.zip
*.tgz
*.rar

## python
__pycache__/

## documents
*.pdf
*.docx

## old directory
ads
ai
bs
by
ct
cv
db
dm
doc
hgjjxj
kg
mc
ml
na
spider
szdl
webdev
wlh
zibian
by
