## latex/bibtex
*.aux
*.log
*.bbl
*.blg
*.out
*.synctex.gz
*.synctex(busy)

## datasets
cifar-10-batches-py

## archive
*.zip

## python
__pycache__/

## old directory
ads
ai
bs
by
ct
cv
db
dm
doc
go
hgjjxj
kg
mc
ml
na
spider
szdl
webdev
wlh
zibian
by
